<div class="container">
  <div class="jumbotron">
    <h1> <strong>QUOTES</strong></h1>
  </div>
</div>


<!-- <h2><em>Please enter your quotes below.</em> </h2> -->
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <app-quotes-form (addQuotes)="addNewQuotes($event)"></app-quotes-form>
    </div>

    <div class="col-md-7" id="bg">

      <ol>
        <div class="well">
          <h3>Below are some quotes to live by:</h3>
        </div>

        <div class="panel panel-success">

          <div *ngFor='let quote of quotes;let i = index'>

            <li id="quote-description">
              <p id="quote-name"><strong>{{" " + quote.name}}</strong></p>
              <p id="quote-description"><em>{{"- " + quote.description}}</em></p>
              <p id="quote-description"><em>{{"Published on:" + quote.submitDate|date}}, {{"By :" + quote.author}}</em></p>
                <p id="quote-description"> <em>{{"Upvote: " + quote.upvote}} {{"Downvote: " + quote.downvote}}</em></p>
            </li>
            <!-- <button (click) = 'quotedelete(true)'> Delete quote </button> -->


            <app-quotes-details (isDelete)='deleteQuote($event,i)' [quote]='quote'></app-quotes-details>
            <button class="btn btn-success" (click)="upvotes(i)">Upvote</button>
            <button class="btn btn-danger" (click)="downvotes(i)">Downvote</button>



          </div>

        </div>


      </ol>

    </div>
  </div>
</div>
