 /* You can add global styles to this file, and also import other style files */
 /* @import "~bootstrap/dist/css/bootstrap.css" */

body{
  color:black;
background-image:url('https://images.pexels.com/photos/1287217/pexels-photo-1287217.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') ;
background-repeat: no-repeat;
background-size: cover;

}
.form-group{
  color: black;
}
#bg{
  background-color: white;
}
#quote-description{
  font-family: 'Marck Script', cursive;
  font-size: 20px;
}
#quote-name{
font-family: 'PT Mono', monospace;
font-size: 25px;
}
